<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>
</head>
<body>
<ul>
    <li><a href="myDetail">내정보 보기</a> </li>
    <li><a href="memberUpdate">내정보 수정</a> </li>
    <li><a href="userPwModify">비밀번호 변경</a> </li>
    <li><a href="memberDrop">회원탈퇴</a> </li>
    <li><a href="/">HOME</a> </li>
</ul>
회원 탈퇴<br/>
<form action="memberDropOk" method="post" name="frm" id="frm">
    비밀번호 : <input type="password" id="memberPw" name="membrPw" />
    <div style="color:red">[[${errPw}]]</div>
</form>

<script type="text/javascript">
$(function(){
    $("#frm").submit(function(){
        if($("#memberPw").val() == ""){
            alert("비밀번호를 입력하세요.");
            $("#memberPw").focus();
            return false;
        }else{
            conf = confirm("정말로 탈퇴하시겠습니까?");
            if(!conf{
                return false;
            }
        }
    });
});
</script>
</body>
</html>