<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>
</head>
<body>
<ul>
    <li><a href="myDetail">내정보 보기</a> </li>
    <li><a href="memberUpdate">내정보 수정</a> </li>
    <li><a href="userPwModify">비밀번호 변경</a> </li>
    <li><a href="memberDrop">회원탈퇴</a> </li>
    <li><a href="/">HOME</a> </li>
</ul>
내 비밀번호 변경<br/>
<form action="myPwUpdate" method="post" name="from" id="frm">
현재비밀번호 : <input type="password" name="oldPw" id="oldPw"/>
             <span id="pwErr"></span><br/>

새 비밀번호 : <input type="password" name="newPw" id="newPw"/>
            <span id="newPwErr"></span><br/>

새 비밀번호 확인 : <input type="password" name="newPwCon" id="newPwCon"/>
            <span id="pwConErr"></span><br/>
        <input type="submit" value="비밀번호 변경"/>
</form>

<script type="text/javascript">

$(function(){
    $("#frm").submit(function(){
        $(this).ajaxSubmit({
            type:'post',
            url:'myPwUpdate',
            dataType:'text',
            beforeSubmit:passwordChecked,
            success:resultOk,
            error:function(){
                alert("서버오류")
            }
        });
        return false;
    });
});

//새 비밀번호 유효성 검사 및 중복검사 처리
function passwordChecked(){
    var oldPw = $("#oldPw").val();
    var newPw = $("#newPw").val();
    var newPwCon = $("#newPwCon").val();
    var pwPattern = /^(?=.*[A-Za-z])(?=.*[0-9])(?=.*[!@#$%^&*]).{8,}$/;

    if(oldPw == ""){
        $("#pwErr").text("현재 비밀번호를 입력해 주세요.");
        $("#pwErr").css("color","red");
        return false;
    }

    if(newPw === oldPw){
        $("#newPwErr").text("기존 비밀번호와 다른 비밀번호를 입력해주세요.");
        $("#newPwErr").css("color", "red");
        return false;
    }

    if(newPw == ""){
        $("#newPwErr").text("새 비밀번호를 입력해주세요.");
        $("#newPwErr").css("color", "red");
        return false;
    }

    if(!pwPattern.test(newPw)){
        $("#newPwErr").text("비밀번호는 영문자, 숫자, 특수문자 포함 8글자 이상을 입력해야 합니다.");
        $("#newPwErr").css("color","red");
        return false;
    }

    if(newPw != newPwCon){
        $("#pwConErr").text("비밀번호 확인이 일치하지 않습니다.");
        $("#pwConErr").css("color","red");
            return false;
        }
    return true;
}

//status는 서버 실행이 잘 되었는지 확인
//result는 서버로부터 넘어온 값(여기서는 true, false로 받음)
function resultOk(result, status, xhr, $form){
    if(status == 'success'){
        if(result == "true"){ //정상적으로 서버가 실행되었으면 내 정보페이지로 이동
            location.href="myDetail";
        }else{ //현재 비밀번호가 틀렸다면 오류메세지, 다시 입력
            $("#oldPw").val("");
            $("#pwErr").text("잘못된 비밀번호 입니다.");
            $("#pwErr").css("color","red");
            $("#newPwErr").text("")
            $("#pwConErr").text("")
            $("#oldPw").focus();
        }
    }
}

</script>
</body>
</html>