<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<a href="memberRegist">회원등록</a>
<table border="1" width="600">

<!-- 회원 조회 -->
<form action="memberList" method="get">
    <tr>
        <td colspan="5">검색:
            <input type="search" name="searchWord" size="60" th:value="${searchWord}"/>
            <input type="submit" value="검색" />
        </td>
    </tr>
</form>
<form action="membersDelete" method="post" id="frm">
    <!-- 체크박스를 이용해 원하는 회원 선택 삭제 -->
    <tr>
        <td>번호</td>
        <td>이름</td>
        <td>아이디</td>
        <td>등록일</td>
        <td>
            <input type="checkbox" id="checkBoxs"/>
            <input type="submit" value="삭제"/>
        </td>
    </tr>
    <tr th:each="dto : ${dtos}">
        <!-- 타임리프에서 href 사용하는 방법: | 또는 @{} -->
        <td><a th:href="|memberDetail?memberNum=${dto.memberNum}|">[[${dto.memberNum}]]</a></td>
        <td><a th:href="@{memberDetail(memberNum=${dto.memberNum})}">[[${dto.memberName}]]</a></td>
        <td>[[${dto.memberId}]]</td>
        <td>[[${#dates.format(dto.memberRegistDate,'yyyy-MM-dd')}]]</td>
        <td>
            <input type="checkbox" name="memDels" th:value="${dto.memberNum}"/>
        </td>
    </tr>
    <tr align="center"><td colspan="5">
    <th:block th:if="${page <= 1}">
    [이전]
    </th:block>
    <th:block th:if="${page > 1}">
        <a th:href="@{memberList(page=${page - 1}, searchWord=${searchWord})}">[이전]</a>
    </th:block>
    <th:block th:each=" i : ${#numbers.sequence(startPage, endPage)}">
        <a th:href="@{memberList(page=${i}, searchWord=${searchWord})}">[[${i}]]</a>
    </th:block>
    <th:block th:if="${page >= maxPage}">
        [다음]
    </th:block>
    <th:block th:if="${page < maxPage}">
        <a th:href="@{memberList(page=${page + 1}, searchWord=${searchWord})}">[다음]</a>
    </th:block>
    </td></tr>

</form>

</table>

<script type="text/javascript">
//하나이상 선택하도록 설정
$(function(){
    $("#frm").submit(function(){
        if($("input:checkbox[name=memDels]:checked").length < 1 ){
            alert("하나이상 선택하세요.");
            return false;
        }
    });
    //checkBoxs를 선택 시 모두 선택되도록 설정
    $("#checkBoxs").click(function(){
        if($("#checkBoxs").prop("checked")){
            $("input:checkbox[name=memDels]").prop("checked", true);
        }else{
            $("input:checkbox[name=memDels]").prop("checked", false);
        }
    });
    //memDels 체크를 하나씩 없애면 checkBoxs에 체크가 없어지고 모두 체크하면 checkBoxs도 체크가 되도록
    $("input:checkbox[name=memDels]").click(function(){
        //먼저 체크박스의 개수를 가지고 온다.
        var tot = $("input:checkbox[name=memDels]").length;
        //먼저 체크박스의 개수를 가지고 온다.
        var checked = $("input:checkbox[name=memDels]:checked").length;
        //두개를 비교
        if(tot == checked){
            //같으면 checkBoxs에 체크
            $("#checkBoxs").prop("checked",true);
        }else{
            $("#checkBoxs").prop("checked",false);
        }
    });
});
</script>
</body>
</html>