<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
상품 검색<br/>
<span id="goodsList"></span>
<span id="list"></span>

<script>
    $(function(){
        itemList();
    });

    function itemList(page){
        $.ajax({
            url:"goodsItemList",
            type:"post",
            datatype:"json",
            // page와 searchWord전달
            data : {'searchWord': $('#searchWord').val(), "page": page},
            success:function(result){ // map사용해 데이터 가져옴
                // searchWor에 null이 뜨지 않게 해줍니다.
                if(result.searchWord == null){
                    result.searchWord = "";
                }
                var item = "";
                item += '<table>';
                item += '<tr><th>';
                item += '검색 : <input type="search" name="searchWord" id="searchWord" value="'+result.searchWord+'">';
                item += '</th></tr>';
                item += '</table>';
                item += '<table border="1" width="600" align="center">';
                item += '<tr>';
                item += '<th>번호</th><th>상품 번호</th><th>상품명</th><th>가격</th>';
                item += '</tr>';
                $.each( result.dtos , function(idx, goodsDTO){
                                    item +=	'	<tr> '; // 이름이나 상품번호를 클릭하면 함수가 실행되게 합니다.
                                    item +=	'		<th>'+ eval(idx + 1)+' </th>'
                                         +'         <th><a href="javascript:goodsItem(\'' + goodsDTO.goodsNum +'\''
                                         +'		      , \''+ goodsDTO.goodsName + '\')">'+ goodsDTO.goodsNum +'</a></th>'
                                         +'         <th><a href="javascript:goodsItem(\'' + goodsDTO.goodsNum +'\''
                                         +'		      , \''+ goodsDTO.goodsName + '\')">'+ goodsDTO.goodsName +'</a></th>'
                                         +'         <th>'+  goodsDTO.goodsPrice +'</th>';
                                    item += '	</tr>';
                                });
                //페이징 작업
				item +=	'<tr align="center"><td colspan="6">';
				if(result.page <= 1){
					item +=	'[이전]';
				}
				if(result.page > 1){
					item +=	'<a href="javascript:itemList('+ eval(result.page - 1) + ')">[이전]</a>';
				}
				var startPage = result.startPage; console.log(startPage);
				var endPage = result.endPage; console.log(endPage);
				while (startPage <= endPage){
					item +=	'<a href="javascript:itemList('+ startPage + ')">['+startPage+']</a> ';
					startPage++;
				}
				if(result.page >= result.maxPage){
					item +=	'[다음]';
				}
				if(result.page < result.maxPage){
					item +=	'<a href="javascript:itemList('+ eval(result.page + 1) + ')">[다음]</a>';
				}
				item +=	'</td></tr>';
				item +=	'</table>';
				$("#goodsList").html(item);
            },
            error:function(){
                alert("서버오류");
            }
        });
    }

    function goodsItem(goodsNum, goodsName){
        $(opener.document).find("#goodsNum").val(goodsNum);
        $(opener.document).find("#goodsName").val(goodsName);
        window.self.close();
    }


</script>
</body>
</html>
