<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
직원 상세 페이지<br/>
직원 번호 : [[${employeeCommand.empNum}]]<br/>
직원 아이디 : [[${employeeCommand.empId}]]<br/>
직원 이름 : [[${employeeCommand.empName}]]<br/>
직원 주소 : [[${employeeCommand.empAddr}]]<br/>
상세 주소 : [[${employeeCommand.empAddrDetail}]]<br/>
우편번호 : [[${employeeCommand.empPost}]]<br/>
연락처 : [[${employeeCommand.empPhone}]]<br/>
이메일 : [[${employeeCommand.empEmail}]]<br/>
주민번호 : [[${employeeCommand.empSsn}]]<br/>
등록일 : [[${employeeCommand.empRegiDate}]]<br/>
<a th:href="|empModify?empNum=${employeeCommand.empNum}|">직원 수정</a> |
<a th:href="@{empDelete(empNum=${employeeCommand.empNum})}">직원 삭제</a>

</body>
</html>