<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.companion.mapper.MemberMyMapper">
    <sql id="memberBaseColumns">
        member_num, member_id, member_pw, member_name, member_addr,
        member_addr_detail, member_post, member_phone1, member_phone2,
        member_regist memberRegistDate, member_birth, gender,
        member_email, member_email_conf, point
    </sql>
    <select id="memberInfo" parameterType="string" resultType="com.example.companion.domain.MemberDTO">
        select <include refid="memberBaseColumns"/>
        from members
        where member_id = #{memberId}
    </select>
</mapper>