<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.companion.mapper.MemberMyMapper">
    <sql id="memberBaseColumns">
        member_num, member_id, member_pw, member_name, member_addr,
        member_addr_detail, member_post, member_phone1, member_phone2,
        member_regist memberRegistDate, member_birth, gender,
        member_email, member_email_conf, point
    </sql>
    <select id="memberInfo" parameterType="string" resultType="com.example.companion.domain.MemberDTO">
        select <include refid="memberBaseColumns"/>
        from members
        where member_id = #{memberId}
    </select>

    <update id="memberPwUpdate">
        update members
        set member_pw = #{userPw}
        where member_id = #{memberId}
    </update>
    
    <delete id="memberDrop" parameterType="string">
        delete from members
        where member_id = #{memberId}
    </delete>

    <update id="memberInfoUpdate" parameterType="com.example.companion.domain.MemberDTO">
        update members
        <trim prefix="set" suffixOverrides=",">
            member_Name = #{memberName},
            member_ADDR = #{memberAddr},
            <choose>
                <when test="memberAddrDetail != null">
                    member_Addr_detail = #{memberAddrDetail},
                </when>
                <otherwise>
                    member_Addr_detail = null,
                </otherwise>
            </choose>
            member_Post = #{memberPost},
            gender = #{gender},
            member_Phone1 = #{memberPhone1},
            <choose>
                <when test="memberPhone2 != null">
                    member_Phone2 = #{memberPhone2},
                </when>
                <when test="memberPhone2 == null">
                    memberPhone2 == null,
                </when>
            </choose>
            member_Email = #{memberEmail},
            member_Birth = #{memberBirth},
        </trim>
        <where>
            member_id = #{memberId}
        </where>

    </update>

</mapper>